html {
    overflow: hidden;
}

body {
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
    color: white;
}

.main {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh);
}

.mainColor{
    color: var(--mainColor)
}

div#navbarNav {
    justify-content: left;
    font-family: Inter;
    font-size: 16px;
    background-color: #00000000;
    height: 100px;

}

.nav-link {
    font-weight: 700;
    color: rgb(255 255 255);
    font-weight: 700;
}

a.navbar-brand {
    margin-left: 50px;
}

.splash {
    height: calc(100vh + 100px);
    position: relative;
}

div#splashItems {
    position: relative;
}

.row.splashItems {
    margin: 60px 0 0 60px;
}

.row.splashHeader1 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    font-size: 22px;
    margin: 10px 0;
}

.row.splashHeader2 {
    font-family: Libre Baskerville, serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    font-size: 63px;
    margin: 10px 0;
}

div#cHolder {
    width: 100%;
    position: absolute;
}


svg#wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

svg#secondWave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

canvas {
    display: block; 
  }

.secondHeader {
    min-height: 80vh;
    background-color: #fff;
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 120px;
}

/* .secondHeaderText {
    font-family: Libre Baskerville, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    padding: 50px;
} */

.secondHeaderText{
    max-width: 1000px;
    text-align: center;
    margin: 60px auto 60px auto ;
    font-family: Inter, sans-serif;
}

div.secondHeaderWord  {
    display: inline-block;
    font-family: Inter, sans-serif;
    line-height: 5em;
    margin: -2em 0;
    font-size: 35px;
}

.secondHeaderWord span {
    transition: opacity 1s ease-in, transform 1s ease-out;
    display: inline-block;
    margin: 0;
}

.why {
    min-height: 80vh;
    background-color: var(--offWhite);
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 120px;
}

div.customCard {
    margin: 30px 30px 0px 30px;
}

.customCardInner {
    background-color: white;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0px 0px 21px 20px rgba(0,0,0,0.1);
}

.customCardSubtitle {
    padding: 5px 0;
    font-family: Inter, sans-serif;
}

h3.customCardText {
    margin: 10px 0;
    font-family: Inter, sans-serif;
}



div#whyItemsLText {
    padding: 18px 20px;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#whyItemsLText2 {
    padding: 0px 20px;
    text-align: center;
    font-family: Inter, sans-serif;
}

.row.align-items-center {
    height: 100%;
}

div.thirdMotoWord  {
    display: inline-block;
    font-family: Libre Baskerville, serif;
    line-height: 5em;
    margin: -2em 0;
    font-size: 35px;
}

.thirdMotoWord span {
    transition: opacity 1s ease-in, transform 1s ease-out;
    display: inline-block;
    margin: 0;
}

svg#thirdWave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

div#services {
    min-height: 200px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 120px;
}

div#servicesTitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
}

div#servicesList {
    /* background-color: #000000; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, min(100%/1, max(301px, 100%/4))));
    grid-template-rows: auto;
    grid-gap: 44px; */
    justify-content: center;
    padding: 60px 0;
}

.serviceItem {
    display: flex;
    margin: 40px 10px 0;
}

.serviceItemName {
    text-align: left;
    font-family: Inter, sans-serif;
    padding: 10px 20px;
}
.serviceItemText {
    /* min-width: 55%; */
}

.serviceItemDesc {
    /* font-size: 16px; */
    /* width: 40%; */
    font-family: Inter, sans-serif;
    text-align: left;
    padding: 10px 20px;
}

.serviceItemImg {
    /* height: 200px; */
    /* width: 40%; */
    min-height: 200px;
    /* margin: 2% 2%; */
    border-radius: 20px;
    box-shadow: 0px 0px 21px 20px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

svg#fourthWave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* ---------------------------Contact---------------------------------------- */

#contactTitle {
    color: var(--mainColor);
    font-size: 3em;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#contactFormTitle {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.contactBuffer {
    padding: 0;
    background-color: #000000;
}

.contactHolder {

    /* background-color: #000000; */
    padding: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /* margin-top: -50px; */
}

.thanksContactMessage {
    display: none;
    margin: 0 0 0 30px;
}

div#contactText {
    max-width: 1000px;
    margin-top: 5px;
    margin-bottom: 30px;
    display: inline-block;
    font-size: 30px;
    font-family: Inter, sans-serif;
}

div#contactTitle {
    padding-top: 0;
}

div#mainContactContainer {
    text-align: left;
    max-width: 1050px;
    margin: 0;
}


.fieldLabel {
    font-size: 24px;
    width: 206px;
    vertical-align: top;
}

.field {
    width: 317px;
    max-width: 90%;
}

.txtField {
    width: 100%;
}

.messageHolder {
    width: 100%;
    max-width: 800px;
    display: inline-block;
}

.contactInput {
    padding: 16px 0;
}

.inputHolder {
    display: inline-block;
}

p.formError {
    margin: 0;
    padding-top: 20px;
    color: #f03343;
    max-height: 0;
}

.formItemError {
    /* position: absolute; */
    color: #f03343;
    font-size: 15px;
}

.contactSubmit {
    margin-top: 24px;
    display: flex;
}

#contactSubmit {
    padding: 5px;
    background-color: #212529;
    border-radius: 7px;
    width: 60px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
}

/* ------------------------------------------------------------------- */


.footerSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    border-top: black solid 1px;
    background: #212529;
}

.footerSection .row {
    justify-content: space-between;
    width: 100%;
}

.footerSection .row div {
    display: inline-block;
    max-width: 50%;
}

.rightRow {
    text-align: end;
    padding-right: 30px;
}

.rightRow span {
    padding-right: 16px;
}

.mdi {
    cursor: pointer;
}

.modal-content {
    background-color: #00000054;
    backdrop-filter: blur(6px);
}

@media (max-width: 1530px) {

    div#splashMoto {
        text-align: center;
    }

}

@media (max-width: 700px) {

    .row.splashHeader2 {
        font-size: 40px;
    }
    .pivot {
        transform: scale(0.6);
    }

    .leftRow {
        font-size: 12px;
    }
    a.navbar-brand {
        margin-left: 5px;
    }
    .row.splashItems {
        margin: 60px 0 0 15px;
    }
}

@media (max-height: 400px) {
    #keyboard-base {
        padding: 0px;
        transform-origin: top;
    }

    .pivot {
        transform-origin: top;
        transform: scale(0.6);
    }
}